/*
Geral------------------------------------------------
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}


body {
    background-color: #090e22;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 100vh;
}

.hide {
    display: none !important;
}

.container {
    min-width: 400px;
    min-height: 400px;
    background-color: #1d1e33;
    padding: 2rem;
}

/*
IMC Form --------------------------------------------
*/